/* Color Palette:
Light Shades: #f4c4d4;
Light Accent: #ea92ab;
Main Brand Color: #af7fc2;
Dark Accent: #8c76be;
Dark Shades: #61567d;
*/
* {
	box-sizing: border-box;
}

img.pfp{
    display: block;
    border-radius: 50%;
    width: 100px;
    float: left;
}

.pfpcontainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nameintro{
    color: #ea92ab;
    text-shadow: 2px 2px #f4c4d4;
    font-family: "Comic Sans MS";
    font-size: 25px;
    margin-bottom: 0;
}

.name{
    color: #f4c4d4;
    text-shadow: 2px 2px #ea92ab;
    font-family: "Comic Sans MS";
    font-size: 35px;
    margin-top: 0;
    line-height: 40px;
}

.body{
    background-color: #9095d0;
    color: #353044;
    font-family: "Comic Sans MS";
}

.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.bio {
    flex: 70%;
    background-color: #d8c5c5;
    padding: 20px;
}

.skills {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.projects {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
