/* Color Palette:
Light Shades: #f4c4d4;
Light Accent: #ea92ab;
Main Brand Color: #af7fc2;
Dark Accent: #8c76be;
Dark Shades: #61567d;
*/
* {
	box-sizing: border-box;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
}

.pfpcontainer{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #61567d;
    box-shadow: 5px 5px #8c76be;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
}

img.pfp{
    display: block;
    border-radius: 50%;
    width: 100px;
    float: left;
    margin-left: 20px;
    background-color: #f4c4d4;
    padding: 2px;
}

header {
    background-color: #f4c4d4;
    box-shadow: 4px 4px #ea92ab;
    text-align: center;
    padding: 20px;
}

.pretitle{
    color: #ea92ab;
    text-shadow: 2px 2px #f4c4d4;
    font-family: "Comic Sans MS";
    font-size: 25px;
    margin-bottom: 0;
}

.title{
    color: #f4c4d4;
    text-shadow: 2px 2px #ea92ab;
    font-family: "Comic Sans MS";
    font-style: italic;
    font-size: 35px;
    margin-top: 0;
    line-height: 40px;
}

.container{
    display: flex;
    flex-direction: row;
}

.container > div {
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

body{
    background-color: #af7fc2;
    color: #61567d;
    font-family: "Comic Sans MS";
    font-size: 15px;
}

.center{
    flex: 70%;
    background-color: #f4c4d4;
    box-shadow: 5px 5px #ea92ab;
    padding: 20px;
}

.left {
    flex: 30%;
    background-color: #ea92ab;
    box-shadow: 5px 5px #8c76be;
    padding: 20px;
}

.right {
    flex: 30%;
    background-color: #ea92ab;
    box-shadow: 5px 5px #8c76be;
    padding: 20px;
}

footer {
    background-color: #ea92ab;
    box-shadow: 5px 5px #8c76be;
    text-align: right;
    padding: 10px;
}

.navbar {
    display: flex;
    position: relative;
    overflow: hidden;
    list-style-type: none;
    background-color: #61567d;
    box-shadow: 5px 5px #8c76be;
}

.navbar a {
    float: left;
    color: #f4c4d4;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #af7fc2;
    color: white;
}

.navbar a.active {
    background-color: #af7fc2;
    color: white;
}

.navbar-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-right {
    float: right;
    margin-left: auto;
}

@media screen and (max-width: 600px) {
    .navbar a, .navbar-right {
        float: none;
        display: block;
    }

    .navbar-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}

.smalltxt {
    font-size: 12px;
    color: #61567d;
}
